<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>Update Model</title>
</head>
<body>

<div class="container">

  <h3>Model Directory</h3>
  <hr>

  <p class="h4 mb-4">Update Model</p>

  <form action="#" th:action="@{/fuel-consumptions/processUpdate}" th:object="${fuelConsumption}" method="POST">

    <!-- Hidden form field to handle the update -->
    <input type="hidden" th:field="*{id}">

    <div>
      <select th:field="*{model.id}">
        <option th:each="tempModel : ${models}"
                th:if="${tempModel.manufacturer.id == fuelConsumption.model.manufacturer.id}"
                th:value="${tempModel.id}"
                th:text="${tempModel.modelName}">Model Name</option>
      </select>
    </div>

    <div>
      Year of Manufacture: <input type="number" th:field="*{modelYear}" class="form-control mb-4 w-25" placeholder="XXXX">
      <!-- Add error message (if present) -->
      <span th:if="${modelYearError != null}" class="text-danger">
        Model's year of manufacture can not be earlier than 1900 or higher than 2023
      </span>
    </div>

    <div>
      Consumption Rate: <input type="number" step="0.01" th:field="*{consumptionRate}" class="form-control mb-4 w-25" placeholder="X.XX">
      <!-- Add error message (if present) -->
      <span th:if="${consumptionRateError != null}" class="text-danger">
        Consumption Rate can not be negative or higher than 50
      </span>
    </div>

    <button type="submit" class="btn btn-info col-2">Update</button>

  </form>

  <hr>

  <a th:href="@{/fuel-consumptions/list}">Back to Fuel Consumptions List</a>


</div>

</body>

</html>